.rsw-editor {
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  overflow: hidden;
}

.rsw-ce {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0.5rem;
}

.rsw-ce:focus {
  outline: 1px solid #668;
}

.rsw-ce sup, .rsw-ce sub {
  font-size: 0.75em;
  line-height: 0;
}

.rsw-ce[contentEditable='true']:empty:not(:focus):before {
  color: grey;
  content: attr(placeholder);
  pointer-events: none;
}

.rsw-html {
  background: transparent;
  border: none;
  font-family: monospace, 'Courier New';
}

.rsw-separator {
  align-self: stretch;
  border-right: 1px solid #ddd;
  display: flex;
  margin: 0 3px;
}

.rsw-dd {
  box-sizing: border-box;
  outline: none;
}

.rsw-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #222;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 0;
  width: 2em;
}

.rsw-btn:hover {
  background: #eaeaea;
}

.rsw-btn[data-active='true'] {
  background: #e0e0e0;
}

.rsw-toolbar {
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.rsw-click-disabler {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 999;
}

.rsw-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  max-width: min(80vw, 400px);

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    h3 {
      margin: 0;
      color: #2c5aa0;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28px, 1fr));
    gap: 5px;
    max-width: 80dvw;
  }
}